@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 600px;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #f1f1f1;
}

svg:not(:root) {
  overflow: hidden;
}

.hidden {
  display: none;
}


/* marker */
.leaflet-marker-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #fff;
  font-size: 12px;

}
.poi-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #fff;
  font-size: 12px;
  box-shadow: 0px 0px 10px white;
  border-radius: 100%;
  border: 2px solid #fff;
  background: red;
}
.waypoint-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: black;
  font-size: 16px;
  font-weight: 800;
  border-radius: 100%;
  border: 2px solid black;
}

.active-sidebar .leaflet-marker-icon,
.leaflet-marker-icon:hover {
  animation: border-pulse 1.5s infinite;
}

@keyframes border-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}




#myProgress {
  margin: 24px
}

.progress-bar {
  margin-bottom: 24px;
  height: 48px !important;
  line-height: 48px !important;

}





/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}

.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}


hr.new5 {
  border: 2px solid green;
  width: 25px;
}

hr.new4 {
  border: 2px solid black;
  width: 25px;
}




*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.small {
  display: inline-block;
}

.small+.small {
  border-left: 1px solid #2094f3;
  margin-left: 10px;
  padding-left: 10px;
}

.arrow::before {
  content: "→";
  position: absolute;
  left: 0;
}

.arrow {
  position: relative;
  padding-left: 19px;
  margin-top: 5px;
}

.small:first-child a {
  display: flex;
}

.small a {
  text-decoration: none;
  color: #2094f3;
}

.code-place-js,
.code-place-css {
  font-size: 1rem;
  margin: 10px auto 50px;
}

.hidden {
  display: none !important;
}

.show-code-full-screen {
  overflow: hidden;
}

.show-code-full-screen iframe {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  height: 100%;
  z-index: 1;
  border: 0;
}

.open-source {
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.open-source a:hover,
.open-source a.show-code {
  background-color: #000;
  color: #fff;
}

.open-source a {
  border: 1px solid #3c3c3c;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  color: #000;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.hide-iframe {
  position: absolute;
  display: none;
  top: var(--pos-top);
  left: var(--pos-left);
  right: var(--pos-right);
  bottom: var(--pos-bottom);
  z-index: 2;
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  background: #ff4800;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.7;
  line-height: 1;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease-in-out;
}

.hide-iframe:hover {
  opacity: 1;
}

.show-code-full-screen .hide-iframe {
  display: block;
}

.file-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2094f3;
}

.icon-file {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}